#
# Copyright (c) 2013 Citrix Systems, Inc.
# 
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#

## <summary>Example SELinux policy module.</summary>

########################################
## <summary>
##	Execute example program in the example_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
#
interface(`example_domtrans',`
	gen_require(`
		type example_t, example_exec_t;
	')

	files_search_usr($1)
	corecmd_search_bin($1)
	domtrans_pattern($1, example_exec_t, example_t)
')

########################################
## <summary>
##	Execute example in the example_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	The type of the process performing this action.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to allow the example_t domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`example_run',`
	gen_require(`
		type example_t;
	')

	example_domtrans($1)
	role $2 types example_t;
')
########################################
## <summary>
##      Execute example program in the callers domain.
## </summary>
## <param name="domain">
##      <summary>
##      The type of the process performing this action.
##      </summary>
## </param>
interface(`example_exec',`
        gen_require(`
                type example_exec_t;
        ')

        files_search_usr($1)
        corecmd_search_bin($1)
        can_exec($1, example_exec_t)
')
